{# frame_pivot.html #}

{% extends "mainpage/tabs/frame_basetemplate.html" %}
{% load static %}

{% block central_top_button %}
{% endblock central_top_button %}

{% block bottom_left_button %}
{% endblock bottom_left_button %}

{% block bottom_central_button %}
{% endblock bottom_central_button %}

{% block bottom_right_button %}
{% endblock bottom_right_button %}

{% comment %}
{% block js %}
  <script src="{% static 'js/mainpage/tabs/frame_pivot.js' %}"></script>
{% endblock js %}
{% endcomment %}
