{# table_pivot_balances_partner.html #}

{% load static %}

<div class="scrollbarable">
  <div class="text-left">
    <button type="button" 
      class="btn btn-outline-secondary 
        btn-sm
        partners-filter-btn
        partners-filter-deb
      "
    >
      {{ debtors_name }}
    </button>
    <button type="button" 
      class="btn btn-outline-secondary 
        btn-sm
        partners-filter-btn
        partners-filter-cred
      "
    >
      {{ creditors_name }}
    </button>
    <button type="button" 
      class="btn btn-outline-secondary 
        btn-sm
        partners-filter-btn
        partners-filter-all
      "
    >
      {{ all_name }}
    </button>
  </div>
  <div class="row">
  <div class="col">
    <br>
  </div>
  </div>
  <table 
    class="table text-nowrap 
      table-striped table-bordered table-hover table-responsive-md tab-body
    "
    tab_action="{{ tab_action }}"
    matrix_type="{{ matrix_type }}"
    tab_model="{{ tab_model }}"
    run_on_load="{{ run_on_load }}"
  >
    <thead>
      <tr>
        {% for header_name, header_width, header_class  in headers_zip %}
          <th 
            class="col-{{ header_width }} {{header_class}}" 
            scope="col"
          >
            {{ header_name }}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows_arr %}
        {{ row }}
      {% endfor %}
    </tbody>
  </table>
</div>
