{# parts/shown_matrix_summary_anymodel.html #}

{% load static %}

<div class="scrollbarable">
  <table 
    class="table col-12
      text-nowrap table-striped table-bordered 
      table-hover table-responsive-lg 
      tab-matrix
    "
  >
    <thead class="thead-light">
      <tr>
        {% for header_name, header_class in headers_data %}
          <th
            class="{{ header_class }}"
            scope="col"
          >
            {{ header_name }}
          </th>
        {% endfor %}
          <th 
            class="col-1"
          >
          </th>
      </tr>
    </thead>
    <tbody
      class="table-sm"
    >
      {% for obj, the_pk in object_list_values_pks %}
        <tr pk="{{ the_pk }}">
          {% for the_key, the_val in obj.items %}
            <td
              {% comment %}
              class="{{ the_val.1 }}"
              {% endcomment %}
              class="{{ the_val.2 }}"
            >
              {{ the_val.1 }}
            </td>
          {% endfor %}
            {# pensil #}
            <td 
              class="text-center "
            >
              <a 
                href="#" 
                class="pensil"
                uniq_category = "edit{{ model }}"
                tab_cmd="{{ pensil_tab_cmd }}"
              >
                &#128393;
              </a>
            </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
