{# parts/shown_bodie_base_.html #}

{% load static %}

<div 
  {# id must be set for bootstrap tab navigation #}
  id="tab-bodie-{{ matrix_type }}{{ model }}"  
  uniq_category="{{ matrix_type }}{{ model }}"
  tab_cmd="{{ tab_cmd }}"
  class="tab-bodie tab-pane fade
  " 
  role="tabpanel"
>
  {# common keys block #}

  <p>
    <div class="row">

      {% block left_top_button %}
        <div class="col text-left">
          <button type="button" 
            class="btn btn-primary refresh-btn"
          >{{ btn_f5 }}</button>
        </div>
      {% endblock left_top_button %}

      {% block central_top_button %}
        <div class="col text-center">
          <button type="button" 
            class="btn btn-outline-primary"
          >{{ btn_add }}</button>
        </div>
      {% endblock central_top_button %}

      {% block right_top_button %}
        <div class="col text-right">
          <button type="button" 
            class="btn btn-primary close-btn"
          >{{ btn_close }}</button>
        </div>
      {% endblock right_top_button %}

    </div>
  </p>

  {# tab frame's title, same as header #}
  {% block tab_title %}
    <h2 class="tab-bodie-title">{{ lc_tab_title }}</h2>
  {% endblock tab_title %}

  {# matrix body #}
  <div 
    class="tab-matrix-cont">
  </div> 

 {# bottom keys block #}
  <p>
    <div class="row">
      {% block bottom_left_button %}
        {% if sub_id != 0  %}
          <div class="col text-center">
            <button 
              type="button" 
              class="btn btn-danger del-btn"
            >{{ btn_delete }}</button>
          </div>
        {% endif %}
      {% endblock bottom_left_button %}

      {% block bottom_central_button %}
        {% comment "" %}
          <div class="col text-center">
              <button 
                id="{{ tab_name }}-save-btn" 
                type="button" 
                class="btn btn-success">Add</button>
          </div>
        {% endcomment %}
      {% endblock bottom_central_button %}

      {% block bottom_right_button %}
        {% if tab_model == "transaction" %}
            <div class="col text-center">
              <button 
                type="button" 
                class="btn btn-success save-btn"
              >{{ btn_save_close_tr }}</button>
            </div>
        {% else %}
          <div class="col text-center">
            <button 
              type="button" 
              class="btn btn-success save-btn"
            >{{ btn_save_close }}</button>
          </div>
        {% endif %}
      {% endblock bottom_right_button %}

    </div>
  </p>

  {% block js %}
  {% endblock js %}
{% comment %}
  {% with js_filename=matrix_type|stringformat:'s' %}
    <script id="test" src="{% static 'js/home/tabs/'|add:js_filename|add:'.js' %}"></script>
  {% endwith %}
    {% include 'home/tabs/template_del_yes_no.html' %}
{% endcomment %}


</div>
{# /tab body #}

