{# parts/yesno.html #}

{% load static %}

<form 
  method="POST"
>
<p>
  <div class="row">
    <div class="col">
      <p><br></p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p 
        id="yes-no-alert-msg"
        class="lead"
      >
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><br></p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col">
      <p class="lead">
        {{ yesno_sure_question }} 
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p><br></p>
    </div>
  </div>

  <div class="row">
    <div class="col-3 text-left">
    </div>

    <div class="col-3 text-center">
      <button 
        class="
          no-btn
          btn btn-danger btn-block
        "
        type="button" 
      >
        {{ yesno_no_answer }}
      </button>
    </div>

    {# to transfer to backend #}
    <input type="hidden" name="money_entries_bunch_pk" value="{{ pk }}">

    <div class="col-3 text-center">
      <button 
        class="
          yes-btn
          btn btn-success btn-block
        "
        type="submit" 
      >
        {{ yesno_yes_answer }}
      </button>
    </div>

    <div class="col-3 text-right">
    </div>
  </div>
</p>
</form>
